/* Common heading styles */


.dottedBorder { border-style: dotted ; }
.dashedBorder { border-style: dashed ; }
.solidBorder { border-style: solid ; }
.doubleBorder { border-style: double ; }
.ridgeBorder { border-style: ridge ; }
.insetBorder { border-style: inset ; }
.outsetBorder { border-style: outset ; }

.textCenter { text-align: center !important; }

.heavyTopBotBorder { border-top-style: solid ; border-bottom-style: solid ; border-width: 5px ;}
.dottedTopBotBorder { border-top-style: dotted ; border-bottom-style: dotted ; border-width: 5px ;}

.gradiant1 {
    /* font-size: 20px !important; */
    /* font-weight: 600 !important; */
    transition:all 0.6s ease;
    background-image: linear-gradient(to left, #9a553c, #b393d3) !important;
    color: transparent !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
  }
