@import '~office-ui-fabric-react/dist/sass/References.scss';


.propsTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.advancedPageProperties {
  padding: 0 1em .5em 1em;
  // background-color: #d3d3d3;

  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }


  .propNameRow {
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
  }

  .propValsRow {
    margin-left: 10px;
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
  }

  .standardCapsule {
    box-sizing: border-box;
    padding: 4px 8px 5px 8px;
    display: flex;
    border-radius: 16px;
    height: 24px;
    align-items: center;
    white-space: nowrap;
    margin: 4px 4px 4px 4px;
    width: max-content;
  }

  .urlValue {
    margin: 4px 4px 4px 4px;
    cursor: pointer;
  }

  .imgValue {
    margin: 4px 4px 4px 4px;
    width: 50px;
  }

  .plainValue {
    margin: 4px 4px 4px 4px;
  }

}

  	
  //Copied from Pivot Tiles showSearch
  .showProperties {
    transition:all 0.4s ease;
    //transition:height 0.4s ease;
    //transition:padding-bottom 0.4s ease;
    //transition:transform 0.4s ease;
    opacity: 1;
    // max-height: 100%;
    overflow: hidden;
    // padding-bottom: 20px;
    height: auto;
    padding-bottom: 20px;
	}
  
  //Copied from Pivot Tiles showSearch
  .hideProperties {
    transition:all 0.6s ease;
		height: 0px;
		// max-height: 0px;
		overflow: hidden;
    background: transparent;
    opacity: 0;
    margin-top: 0px;
    margin-bottom: 0px;

	}
