@import '~office-ui-fabric-react/dist/sass/References.scss';

//Copied to chartsPage.module.scss so it can be more stand alone.

.infoPane {
  
  padding-left: 20px;
  padding-right: 20px;

  .infoTable {

    width: 100%;

    tr {
      padding-top: 0px;
    }

    tr :hover {
      background-color: lightgray;
      transition:all 0.4s ease;
    }

    th {
      //Check v1.0.0.05 if the padding is off and revert.
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: black;
      background-color: lightgray;
      border: none;
    }

    td {
      //Check v1.0.0.05 if the padding is off and revert.
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 2px;
      padding-bottom: 5px;
    }

  }

}
