
/* These are the classes found in the banner component:
historyItem 
container 
opacity 
flexContainer 
flexLeftNoWrapStart 
showSettingsPivot 
showSettingsFlex 
hideSettings 
bannerComponent */

.bannerComponent * {
	/* Was this in scss
	* {
		box-sizing: border-box;
	} */

	box-sizing: border-box;

}

/* Copied from Pivot Tiles showSearch */
.bannerComponent .showSettings {
	transition:all 0.4s ease;
	opacity: 1;
	overflow: hidden;
}

.bannerComponent .showSettingsFlex {
	/* Had to remove @extend due to error */
	/* transition:all 0.4s ease;
	opacity: 1;
	overflow: hidden; */
	/* @extend .showSettings; */

	height: 530px;
}

.bannerComponent .showSettingsPivot {
	/* Had to remove @extend due to error */
	/* transition:all 0.4s ease;
	opacity: 1;
	overflow: hidden; */
	/* @extend .showSettings; */

	height: 560px;
}


.bannerComponent .hideSettings {
	height: 0px;
	overflow: hidden;
	background: transparent;
	opacity: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	transition:all 0.6s ease;
}

.bannerComponent .container {
	margin: 0px auto;
}

.bannerComponent .opacity {
	opacity: .6;
	transition: all, .3s ease;

}

.bannerComponent .opacity:hover {
	opacity: 1;
	transition: all, .3s ease;
	font-size: 15px;
}

.bannerComponent .flexContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
}

.bannerComponent .flexLeftNoWrapStart {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	display: flex;

	flex-wrap: nowrap;
	justify-content: start;
	margin: 0px;
	box-sizing: border-box;
	align-items: center;
}

.historyItem {

	padding: 0px 30px 20px 30px;

}

.historyItem div {
	font-weight: 600;
	font-size: larger;
}

.historyItem table tr {
	padding: 3px;
}

.historyItem table tr td {
	font-weight: 600;
	padding-right: 10px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.historyItem table tr td:first-child {
	max-width: 175px;
}

.historyItem table tr td:nth-child(2) {
	color: 'darkblue';
	max-width: 330px;
}

